/* Importación de archivo de estilos personalizados*/
@import url(costom.css);

/* Estilos globales */
* {
  margin: 0; /* Remueve los márgenes predeterminados de todos los elementos */
  padding: 0; /* Remueve el padding predeterminado de todos los elementos */
  box-sizing: border-box; /* Cambia el modelo de caja para que padding y border se incluyan en el tamaño total de los elementos */
}

body {
  background-color: var(--background-color); /* Establece el color de fondo del cuerpo usando una propiedad CSS personalizada */
  font-family: var(--font-family); /* Define la fuente del cuerpo usando una propiedad personalizada */
}

/* header */
header {
  grid-area: header; /* Define el área en la cuadrícula del diseño para el header */
  width: 100%; /* El header ocupará todo el ancho disponible */
  background-color: var(--highlight-color); /* Color de fondo del header con la propiedad personalizada */
  padding: 0 10px; /* Aplica padding horizontal de 10px */
  top: 0; /* Posiciona el header en la parte superior de la página */
  z-index: 100; /* Asegura que el header esté siempre por encima de otros elementos con un z-index alto */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Sombra suave bajo el header para darle un efecto elevado */
  position: fixed; /* Hace que el header permanezca fijo al hacer scroll */
  overflow-x: scroll; /* Permite el desplazamiento horizontal si el contenido excede el ancho */
}

.header__container {
  display: flex; /* Usa flexbox para organizar los elementos en una fila */
  justify-content: space-between; /* Espacia los elementos de manera equidistante */
  align-items: center; /* Centra los elementos verticalmente dentro del contenedor */
  padding: 5px; /* Aplica un padding pequeño alrededor */
  margin: 0 10px; /* Aplica márgenes laterales */
}

/* Sección izquierda del header */
.header__left {
  display: flex; /* Organiza los elementos de manera flexible en línea */
  align-items: center; /* Centra verticalmente los elementos */
  flex: 0 1 380px; /* Establece un tamaño máximo de 380px para la sección izquierda */
}

.logo__img {
  width: 70px; /* Establece el ancho del logo */
  margin-right: 15px; /* Añade espacio a la derecha del logo */
  display: block; /* Asegura que la imagen se trate como un bloque */
}

.navigation {
  display: flex; /* Organiza los elementos de la navegación en línea */
  align-items: center; /* Centra los elementos verticalmente */
  gap: 20px; /* Añade un espacio de 20px entre los elementos */
}

.navigation__list {
  display: flex; /* Organiza la lista de navegación en una fila */
  align-items: center; /* Centra verticalmente los elementos de la lista */
  list-style: none; /* Quita los puntos de la lista */
}

.navigation__item {
  display: flex; /* Organiza los ítems de navegación en línea */
  align-items: center; /* Centra verticalmente los ítems */
  width: 110px; /* Establece un ancho fijo para cada ítem */
}

.navigation__link {
  display: flex; /* Organiza los enlaces de navegación en línea */
  align-items: center; /* Centra los enlaces verticalmente */
  justify-content: center; /* Centra los enlaces horizontalmente */
  flex-direction: column; /* Coloca los elementos (icono, texto) en una columna */
  gap: 2px; /* Añade un pequeño espacio entre el icono y el texto */
  text-align: center; /* Alinea el texto de los enlaces al centro */
  font-weight: 400; /* Define un peso de fuente normal para los enlaces */
  min-height: 75px; /* Altura mínima de cada enlace */
  min-width: 85px; /* Ancho mínimo de cada enlace */
  text-decoration: none; /* Quita el subrayado de los enlaces */
  color: var(--text-color); /* Aplica el color de texto definido por la propiedad personalizada */
  position: relative; /* Posiciona los enlaces de manera relativa para permitir efectos posteriores */
}

.navigation__link:hover {
  color: var(--text-color); /* Mantiene el color de texto al pasar el ratón sobre los enlaces */
}

.navigation__link::after {
  content: ""; /* Crea un pseudo-elemento vacío */
  width: 0; /* Establece el ancho inicial en 0 */
  height: 2px; /* Establece la altura de la línea decorativa */
  background-color: var(--text-color); /* Aplica el color de texto a la línea */
  position: absolute; /* Posiciona la línea en relación al enlace */
  bottom: 0; /* Posiciona la línea al final del enlace */
  transition: width 0.3s; /* Agrega una transición suave cuando se amplíe la línea */
}



/* sidebar */
.sidebar {
  margin-top: 20px 0; /* Margen superior e inferior */
  background-color: var(--background-color); /* Fondo del sidebar con la propiedad personalizada */
  height: 900px; /* Altura fija para el sidebar */
  margin: 100px; /* Aplica margen alrededor del sidebar */
  justify-content: center; /* Centra el contenido verticalmente */
  display: grid; /* Usa el modelo de grid para organizar el contenido */
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  grid-template-rows: repeat(1, 1fr); /* Una fila con un solo elemento */
  grid-template-areas: "izquierda derecha"; /* Define el área del grid para los elementos izquierdo y derecho */
}

.img_izquierda {
  grid-area: izquierda; /* Define el área de la imagen a la izquierda */
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
  display: grid; /* Usa grid para la imagen */
}

.img_izquierdaimg_izquierda--pocion {
  margin: 5px; /* Añade espacio alrededor de la imagen */
  width: 100%; /* La imagen ocupa todo el ancho disponible */
}

.card__image-img {
  width: 800px; /* Ancho de la imagen en la tarjeta */
  height: 700px; /* Altura de la imagen */
}

.card_content {
  background-color: var(--background-color); /* Fondo del contenido de la tarjeta */
  margin-right: 300px; /* Añade espacio a la derecha del contenido */
}

.card_content:nth-child(1) {
  color: var(--text-color); /* Color del texto del primer elemento hijo */
}

.card_content--title {
  font-size: 80px; /* Tamaño grande para el título */
  display: grid; /* Usa grid para el contenido del título */
  margin-left: 20px; /* Añade margen izquierdo al título */
}

.card {
  grid-area: derecha; /* Define el área de la tarjeta en el grid */
  display: grid; /* Usa grid para la tarjeta */
  justify-content: center; /* Centra la tarjeta horizontalmente */
  align-self: center; /* Centra la tarjeta verticalmente */
}

.card_content--texto {
  font-size: 20px; /* Tamaño de fuente del texto */
  margin: 10px; /* Espacio alrededor del texto */
  justify-content: center; /* Centra el contenido horizontalmente */
  justify-self: center; /* Centra el contenido dentro del contenedor */
  margin-left: 20px; /* Añade margen izquierdo al texto */
}

.card_content--boton {
  font-size: 20px; /* Tamaño de fuente del botón */
  display: grid; /* Usa grid para el botón */
  justify-content: center; /* Centra el botón horizontalmente */
  align-items: center; /* Centra el botón verticalmente */
  margin: 20px; /* Añade márgenes alrededor del botón */
  border: none; /* Sin bordes en el botón */
  background-color: var(--highlight-color); /* Color de fondo del botón */
  width: 130px; /* Ancho fijo para el botón */
  height: 50px; /* Altura fija para el botón */
}



/* centrado */
.centrado__title {
  width: 500px; /* Establece el ancho del título */
  height: 100px; /* Altura fija para el título */
  font-size: 50px; /* Tamaño de fuente grande para el título */
  color: var(--highlight-color); /* Color de texto usando variable personalizada */
}

.centrado {
  position: absolute; /* Posicionamiento absoluto para mover el contenedor libremente */
  top: -180px; /* Posiciona el contenedor a 180px por encima de su contenedor padre */
  left: 180px; /* Posiciona el contenedor 180px desde el borde izquierdo */
  height: 400px; /* Altura fija para el contenedor */
  width: 80%; /* Ancho del 80% del contenedor padre */
  display: flex; /* Usa Flexbox para organizar los elementos dentro */
  align-items: center; /* Centra los elementos verticalmente */
  background-color: var(--background-color-light); /* Color de fondo con variable personalizada */
  justify-content: space-around; /* Distribuye los elementos con espacio entre ellos */
}

.centrado__texto {
  margin-top: 40px; /* Añade un margen superior de 40px */
  width: 300px; /* Establece el ancho del texto */
  height: 85px; /* Altura fija para el bloque de texto */
  font-size: 20px; /* Tamaño de fuente estándar */
}

.centrado__boton {
  font-size: 20px; /* Tamaño de fuente del botón */
  border: none; /* Elimina el borde del botón */
  background-color: var(--background-color-light); /* Color de fondo con variable personalizada */
  color: var(--text-color); /* Color del texto utilizando variable personalizada */
}

.pruba {
  display: flex; /* Usando Flexbox para distribuir los elementos */
  align-items: center; /* Centra los elementos verticalmente */
  width: 600px; /* Establece el ancho fijo */
  height: 400px; /* Establece la altura fija */
  background-color: var(--highlight-color); /* Fondo con color destacado */
  margin: 90px; /* Añade margen alrededor del contenedor */
  top: 50%; /* Posiciona el contenedor al 50% desde el top */
}

.derecha {
  padding: 30px; /* Añade un padding interno de 30px */
  background-color: var(--highlight-color); /* Color de fondo */
  margin-top: 200px; /* Añade un margen superior de 200px */
  width: 100%; /* El ancho es el 100% del contenedor */
  height: 15vh; /* Altura del 15% de la ventana de visualización */
  position: relative; /* Posicionamiento relativo para los elementos dentro */
}

.centrado__posicion {
  display: flex; /* Usa Flexbox para alinear los elementos */
  align-items: center; /* Centra los elementos verticalmente */
  max-width: 600px; /* Limita el ancho máximo a 600px */
  width: 100%; /* El ancho es el 100% de su contenedor padre */
}

.Graphic {
  max-width: 300px; /* Limita el ancho máximo a 300px */
  width: 100%; /* El ancho es el 100% de su contenedor */
  /* margin-left: 150px; Comentado - se puede usar para agregar margen izquierdo */
}



/* WE */
.we-container {
  background-color: var(--highlight-color); /* Color de fondo con variable personalizada */
  height: 1200px; /* Altura fija */
  width: 100%; /* El contenedor ocupa todo el ancho disponible */
  display: grid; /* Usamos grid para la distribución de los elementos */
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  grid-template-rows: 1fr 1fr; /* Dos filas de igual tamaño */
  grid-template-areas:
    "arriba arriba"
    "abajo-izquierda abajo-derecha"; /* Define el diseño de la cuadrícula */
}

.we-title {
  grid-area: arriba; /* Coloca el título en la primera fila */
  margin-left: 150px; /* Añade margen izquierdo */
  margin-top: 200px; /* Añade margen superior */
  font-size: 80px; /* Tamaño grande para el título */
  width: 700px; /* Ancho fijo para el título */
}

.we-content {
  grid-area: abajo-izquierda; /* Coloca este contenido en la parte inferior izquierda */
  background-color: var(--highlight-color); /* Color de fondo */
  margin-left: 150px; /* Añade margen izquierdo */
}

.we-text {
  font-size: 24px; /* Tamaño de fuente mayor para el texto */
  margin: 10px; /* Espacio alrededor del texto */
  margin-right: 65px; /* Añade margen derecho */
}

.we-button {
  font-size: 20px; /* Tamaño de fuente para el botón */
  display: grid; /* Usamos grid para centrar el contenido */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin: 10px; /* Añade margen alrededor */
  margin-top: 40px; /* Añade margen superior */
  border: none; /* Elimina el borde */
  background-color: var(--text-color); /* Color de fondo con variable personalizada */
  color: var(--text-color-light); /* Color del texto con variable personalizada */
  width: 180px; /* Ancho fijo */
  height: 50px; /* Altura fija */
}

.we-image-container {
  grid-area: abajo-derecha; /* Coloca la imagen en la parte inferior derecha */
  align-self: end; /* Alinea la imagen al final del área */
  justify-self: end; /* Alinea la imagen a la derecha del área */
}

.we-image-section {
  margin-right: 150px; /* Añade margen derecho */
  width: 1060px; /* Ancho fijo */
  height: 700px; /* Altura fija */
  margin-bottom: 100px; /* Añade margen inferior */
}



/* Happy */
.HAPPY {
  margin-top: 20px 0; /* Añade margen superior e inferior */
  background-color: var(--background-color-light); /* Color de fondo */
  height: 800px; /* Altura fija */
  width: 1400px; /* Ancho fijo */
  margin: 100px; /* Añade margen alrededor */
  margin-left: 300px; /* Añade margen izquierdo */
  box-shadow: 20px 30px 20px rgb(182, 182, 182); /* Sombra para el contenedor */
  display: grid; /* Usamos grid para la disposición de los elementos */
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  grid-template-rows: repeat(1, 1fr); /* Una fila con un solo elemento */
  grid-template-areas: "izquierda derecha"; /* Define las áreas de la cuadrícula */
}

.img_happy {
  grid-area: izquierda; /* Coloca la imagen en el lado izquierdo */
  width: 700px; /* Ancho fijo */
  height: 800px; /* Altura fija */
}

.Happiness_content {
  background-color: var(--background-color-light); /* Color de fondo */
  margin-right: 300px; /* Añade margen derecho */
}

.Happiness_content--title {
  font-size: 80px; /* Tamaño grande para el título */
  color: var(--highlight-color); /* Color destacado */
  width: 600px; /* Ancho fijo para el título */
}

.Happiness {
  grid-area: derecha; /* Coloca el contenido en el lado derecho */
  display: grid; /* Usa grid para la disposición de los elementos */
  margin: 30px; /* Añade margen alrededor */
}

.Happinnes__content--centro{
  display: flex;
  justify-content: center;
}

.Happiness_content--texto {
  font-size: 25px; /* Tamaño de fuente para el texto dentro de la sección */
  margin: 10px; /* Añade un margen alrededor del texto */
  justify-content: center; /* Centra el texto en su contenedor */
  justify-self: center; /* Centra el texto horizontalmente */
  margin-right: 150px; /* Añade margen a la derecha */
}

.Happiness_content--boton {
  font-size: 20px; /* Tamaño de la fuente del botón */
  display: grid; /* Usa grid para centrar el contenido */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  margin: 10px; /* Añade margen alrededor */
  margin-top: 40px; /* Añade margen superior */
  border: none; /* Elimina el borde del botón */
  background-color: var(--text-color); /* Fondo del botón con la variable personalizada */
  color: var(--text-color-light); /* Color del texto con la variable personalizada */
  width: 180px; /* Ancho fijo del botón */
  height: 50px; /* Altura fija del botón */
}

.Graphic_Happy {
  width: 300px; /* Ancho fijo de la imagen */
  height: 300px; /* Altura fija de la imagen */
  margin-left: 300px; /* Añade margen izquierdo */
  margin-top: 50px; /* Añade margen superior */
}



/* About Us */
.ABOUT {
  background-color: var(--text-color); /* Color de fondo usando la variable personalizada */
  color: var(--text-color-light); /* Color del texto usando la variable personalizada */
  display: grid; /* Usamos grid para la disposición de los elementos */
  grid-template-columns: 1fr; /* Una sola columna */
  justify-items: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  padding: 20px; /* Espacio interior */
  gap: 20px; /* Espacio entre los elementos */
  text-align: center; /* Centra el texto */
}

.About_us {
  margin-bottom: 20px; /* Añade un margen inferior */
}

.About_content--title {
  font-size: 40px; /* Tamaño de fuente para el título */
  margin-top: 50px; /* Añade margen superior */
  color: var(--highlight-color); /* Color destacado para el título */
  margin: 10px 0; /* Añade márgenes superior e inferior */
}

/* Estilo para el texto dentro de About Us */
.About_content--texto {
  font-size: 16px; /* Tamaño de fuente más pequeño */
  max-width: 600px; /* Ancho máximo de 600px */
  margin: 10px auto; /* Centra el texto con márgenes a los lados */
  color: var(--text-color-light); /* Color del texto */
}

.img_container {
  display: flex; /* Usa flexbox para organizar los elementos */
  justify-content: center; /* Centra la imagen horizontalmente */
}

.img_about {
  height: 680px; /* Altura fija de la imagen */
  width: 1200px; /* Ancho fijo de la imagen */
}

.About_content--boton {
  font-size: 20px; /* Tamaño de la fuente para el botón */
  background-color: var(--highlight-color); /* Fondo del botón usando variable personalizada */
  color: var(--text-color); /* Color del texto en el botón */
  padding: 10px 20px; /* Añade padding al botón */
  border: none; /* Elimina el borde del botón */
  cursor: pointer; /* Hace que el cursor sea una mano cuando pasa por encima */
}



/* Our Team */
.team {
  display: flex; /* Usa flexbox para distribuir los elementos */
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
  padding: 50px; /* Añade padding dentro del contenedor */
  height: 900px; /* Altura fija */
}

.team__image {
  flex: 1; /* Hace que el contenedor de la imagen ocupe el 50% del espacio disponible */
  display: flex; /* Usa flexbox para centrar la imagen */
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
}

.team__image-img {
  width: 800px; /* Ancho fijo de la imagen */
  height: 700px; /* Altura fija de la imagen */
  margin-left: 170px; /* Añade margen izquierdo */
}

.team__card {
  flex: 1; /* Hace que el contenedor del texto ocupe el otro 50% del espacio */
  padding-left: 50px; /* Añade margen izquierdo */
}

.team__content {
  text-align: left; /* Alinea el texto a la izquierda */
  margin-left: 30px; /* Añade margen izquierdo */
}

.team__title {
  font-size: 60px; /* Tamaño grande para el título */
  font-weight: bold; /* Aplica negrita al título */
  margin-bottom: 20px; /* Añade margen inferior */
}

.team__text {
  font-size: 20px; /* Tamaño de fuente estándar */
  color: var(--text-color); /* Color del texto con la variable personalizada */
  margin-bottom: 20px; /* Añade margen inferior */
  margin-right: 400px; /* Añade margen derecho */
}

.team__button {
  font-size: 20px; /* Tamaño de la fuente para el botón */
  background-color: var(--highlight-color); /* Color de fondo con variable personalizada */
  color: var(--text-color); /* Color del texto */
  padding: 10px 20px; /* Añade padding al botón */
  border: none; /* Elimina el borde */
  cursor: pointer; /* Hace que el cursor sea una mano cuando pasa por encima */
}



/* Try Our */
.TRY {
  display: flex; /* Usa flexbox para distribuir los elementos */
  align-items: center; /* Centra los elementos verticalmente */
  background-color: var(--background-color-Try); /* Color de fondo de la sección */
  padding: 50px; /* Añade padding dentro del contenedor */
}

.Try__card {
  max-width: 50%; /* Limita el ancho máximo de la tarjeta al 50% del contenedor */
  padding-right: 50px; /* Añade padding derecho */
  margin-left: 100px; /* Añade margen izquierdo */
}

.Try__content {
  color: var(--text-color); /* Color del texto dentro del contenido */
}

.Try__title {
  font-size: 60px; /* Tamaño grande para el título */
  margin-bottom: 20px; /* Añade margen inferior */
}

.Try__text {
  font-size: 20px; /* Tamaño de fuente estándar */
  margin-bottom: 20px; /* Añade margen inferior */
}

.Try__button {
  font-size: 20px; /* Tamaño de la fuente para el botón */
  background-color: var(--highlight-color); /* Color de fondo con variable personalizada */
  color: var(--text-color); /* Color del texto */
  border: none; /* Elimina el borde */
  padding: 10px 20px; /* Añade padding al botón */
  cursor: pointer; /* Hace que el cursor sea una mano cuando pasa por encima */
}

.Try__image img {
  width: 800px; /* Ancho fijo de la imagen */
  height: 800px; /* Altura fija de la imagen */
  margin-right: 100px; /* Añade margen derecho */
}



/* formulario - Subcríbete */
.formulario__nombres-contenedor {
  display: flex; /* Usa flexbox para distribuir los elementos */
  justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
}

.formulario-contenedor {
  display: flex; /* Usa flexbox */
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
  margin: 0 auto; /* Centra el contenedor */
  height: 720px; /* Altura fija */
  width: 800px; /* Ancho fijo */
  gap: 25px; /* Espacio entre los elementos */
}

.formulario-name {
  display: flex; /* Usa flexbox para organizar los elementos */
  flex-direction: column; /* Organiza los elementos en una columna */
  width: 220px; /* Ancho fijo de los campos */
  gap: 10px; /* Espacio entre los campos */
}

.formulario {
  padding: 40px 20px; /* Padding alrededor del formulario */
  display: flex; /* Usa flexbox */
  flex-direction: column; /* Organiza los elementos en una columna */
  width: 500px; /* Ancho fijo */
  justify-content: center; /* Centra los elementos verticalmente */
  gap: 20px; /* Espacio entre los elementos */
  background: var(--text-color); /* Fondo del formulario con variable personalizada */
}

.fomurlario__nombres {
  color: var(--text-color-light); /* Color del texto usando variable personalizada */
}

.fondo_formulario--pasword {
  border: solid 2px var(--background-color-light); /* Borde con un color personalizado */
}

.fondo_formulario {
  background-color: var(--text-color); /* Color de fondo del formulario */
  border: solid 2px var(--background-color-light); /* Borde con un color personalizado */
}

.fomurlario__pasworrd {
  color: var(--text-color-light); /* Color del texto dentro del campo */
  background-color: var(--text-color); /* Fondo con un color personalizado */
}

.fomurlario__mesaje--title {
  color: var(--text-color-light); /* Color del texto usando la variable personalizada */
}

.formulario__paraffo {
  color: var(--text-color-light); /* Color del texto usando variable personalizada */
}

.formulario__mensaje {
  width: 460px; /* Ancho fijo */
  height: 100px; /* Altura fija */
  background-color: var(--text-color); /* Color de fondo */
  border: solid 2px var(--background-color-light); /* Borde con un color personalizado */
}

.subcribete {
  justify-content: center; /* Centra los elementos */
  align-items: center; /* Centra los elementos */
  width: 600px; /* Ancho fijo */
}

.subcribete__content {
  padding: 30px 10px; /* Padding alrededor del contenido */
  display: flex; /* Usa flexbox */
  flex-direction: column; /* Organiza los elementos en columna */
  width: 500px; /* Ancho fijo */
  justify-content: center; /* Centra los elementos */
  gap: 20px; /* Espacio entre los elementos */
}

.subcribete__title {
  font-size: 50px; /* Tamaño grande para el título */
  color: var(--highlight-color); /* Color del título */
  margin-top: -40px; /* Ajuste del margen superior */
}

.subcribete__text {
  font-size: 20px; /* Tamaño de la fuente estándar */
  margin-top: -1px; /* Ajuste del margen superior */
}

.subcribete__buton {
  font-size: 20px; /* Tamaño de la fuente del botón */
  background-color: var(--text-color); /* Fondo con variable personalizada */
  color: var(--text-color-light); /* Color del texto */
  width: 200px; /* Ancho fijo */
  margin-top: 20px; /* Margen superior */
}



/* CONTACT */
.contact-section {
  background-color: var(--highlight-color); /* Fondo con un color destacado */
  text-align: center; /* Centra el texto */
  padding: 30px; /* Espaciado dentro del contenedor */
  color: var(--text-color); /* Color del texto */
}

.contact-title {
  font-size: 60px; /* Tamaño grande para el título */
  margin: 0; /* Elimina el margen por defecto */
  font-weight: bold; /* Hace el texto en negrita */
}

.contact-description {
  font-size: 20px; /* Tamaño de fuente más pequeño para la descripción */
  color: var(--background-color-light); /* Color de texto más claro para la descripción */
  margin: 10px 0 20px; /* Márgenes alrededor del texto */
}

.contact-map {
  display: flex; /* Usa flexbox para organizar el mapa */
  justify-content: center; /* Centra el mapa horizontalmente */
  margin: 20px 0; /* Espaciado encima y debajo del mapa */
}

.contact-map img {
  height: 680px; /* Altura del mapa */
  width: 1200px; /* Ancho del mapa */
}

.contact-button {
  background-color: var(--text-color); /* Fondo oscuro para el botón */
  color: var(--text-color-light); /* Color del texto en el botón */
  border: none; /* Elimina el borde */
  padding: 10px 20px; /* Padding dentro del botón */
  cursor: pointer; /* Cambia el cursor a mano */
  font-size: 20px; /* Tamaño de fuente para el botón */
}



/* Footer */
.footer {
  background-color: var(--text-color); /* Fondo oscuro */
  width: 100%; /* El pie de página ocupa el 100% del ancho */
  height: 80vh; /* El pie de página ocupa el 80% de la altura de la ventana */
  padding: 30px; /* Padding alrededor del contenido */
  position: relative; /* Posición relativa para el contenido */
}

.footer_img {
  display: flex; /* Usa flexbox para centrar el contenido */
  justify-content: center; /* Centra la imagen */
  margin: 30px; /* Margen alrededor de la imagen */
}

.footer_informacion {
  display: flex; /* Flexbox para distribuir los elementos */
  gap: 25px; /* Espacio entre los elementos */
  margin-top: 80px; /* Margen superior */
}

.footer__parafo {
  display: flex; /* Usa flexbox para alinear el párrafo */
  color: var(--text-color-light); /* Color de texto más claro */
  justify-content: center; /* Centra el contenido */
  align-items: center; /* Centra verticalmente */
}

.footer__intermedio {
  background-color: solid 3px var(--background-color); /* Línea de separación con color de fondo */
  margin-top: 180px; /* Margen superior para separar la sección */
}

.redes__title {
  font-size: 20px; /* Tamaño de fuente más pequeño para el título de redes */
  color: var(--highlight-color); /* Color destacado */
}

.redes__yourname {
  color: var(--highlight-color); /* Color destacado para el nombre */
  gap: 20px; /* Espacio entre los elementos */
}

.redes {
  display: flex; /* Usa flexbox para organizar los iconos */
  margin-top: 45px; /* Margen superior */
  justify-content: space-between; /* Espacio entre los iconos */
}

.redes__items {
  background-color: var(--highlight-color); /* Fondo para los íconos */
  margin: 5px; /* Margen alrededor de los íconos */
  justify-content: center; /* Centra el ícono dentro del contenedor */
  align-items: center; /* Centra los íconos */
}

.redes__content {
  display: flex; /* Flexbox para distribuir los elementos */
  height: 25px; /* Altura de los iconos */
  gap: 20px; /* Espacio entre los iconos */
  justify-content: center; /* Centra los iconos horizontalmente */
  align-items: center; /* Centra los iconos verticalmente */
  justify-content: space-between; /* Distribuye el espacio de manera equitativa */
}

.box_icons {
  color: var(--highlight-color); /* Color de los íconos */
  width: 20px; /* Ancho de los íconos */
  height: 20px; /* Altura de los íconos */
  margin: 7px; /* Margen alrededor de los íconos */
}

.redes__linea {
  border-right: 1px solid var(--text-color-light); /* Línea de separación entre íconos */
  gap: 20px; /* Espacio entre los iconos */
}

.redes__copyright {
  display: flex; /* Flexbox para alinear el texto */
  gap: 10px; /* Espacio entre los elementos */
}

.footer__parafo {
  font-size: 15px; /* Tamaño de fuente más pequeño para el texto de párrafo */
  color: var(--highlight-color); /* Color destacado para el texto */
}

@media (max-width: 800px) { /* Aplica estilos solo en pantallas con un ancho máximo de 800px */

  /* header */
  .header__container {
    flex-direction: row; /* Coloca los elementos en fila */
    padding: 10px 0; /* Agrega espacio arriba y abajo */
  }

  .header__left {
    justify-content: center; /* Centra el contenido */
    flex: 1; /* Ocupa todo el espacio horizontal disponible */
  }

  .logo__img {
    width: 50px; /* Ajusta el ancho de la imagen del logo */
    margin-right: 0; /* Elimina el margen derecho */
  }

  .navigation {
    gap: 10px; /* Espacio entre los elementos de navegación */
  }

  .navigation__item {
    width: 100%; /* Ocupa todo el ancho disponible */
  }

  .navigation__link {
    min-height: 60px; /* Altura mínima de 60px */
    min-width: 100%; /* Ancho mínimo del 100% */
  }

  .navigation__span {
    font-size: 0.9rem; /* Reduce el tamaño de fuente */
    margin: 7px;
    font-size: 3vw;
    white-space: nowrap;
  }
  /* header */


  
  /* sidebar */
  .sidebar {
    display: flex; /* Usa flexbox para el diseño */
    flex-direction: column; /* Ordena los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    margin: 20px 0; /* Margen superior e inferior de 20px */
    background-color: var(--background-color); /* Color de fondo */
    height: auto; /* Ajusta la altura automáticamente */
    margin-top: 100px; /* Margen superior adicional de 100px */
    padding: 10px; /* Espaciado interno de 10px */
  }

  .img_izquierda {
    align-self: center; /* Centra la imagen */
    justify-self: center; /* Alinea la imagen en el centro */
    width: 100%; /* Ancho completo */
    margin-bottom: 20px; /* Margen inferior de 20px */
  }

  .card__image-img {
    width: 90%; /* Ocupa el 90% del ancho disponible */
    height: auto; /* Ajusta la altura automáticamente */
    max-width: 300px; /* Ancho máximo de 300px */
  }

  .card_content {
    width: 100%; /* Ancho completo */
    margin: 10px 0; /* Margen superior e inferior de 10px */
    text-align: center; /* Centra el texto */
    background-color: var(--background-color); /* Color de fondo */
  }

  .card_content--title {
    font-size: 6vw; /* Tamaño de fuente en relación con el ancho de la pantalla */
    margin-top: 10px; /* Margen superior de 10px */
    width: 90%; /* Ocupa el 90% del ancho disponible */
    text-align: center; /* Centra el texto */
  }

  .card {
    display: flex; /* Usa flexbox para el diseño */
    flex-direction: column; /* Ordena los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    width: 100%; /* Ancho completo */
    margin-top: 10px; /* Margen superior de 10px */
  }

  .card_content--texto {
    font-size: 4vw; /* Tamaño de fuente adaptable al ancho de la pantalla */
    margin: 10px auto; /* Margen superior e inferior de 10px */
    width: 90%; /* Ocupa el 90% del ancho disponible */
    text-align: center; /* Centra el texto */
  }

  .card_content--boton {
    font-size: 4vw; /* Tamaño de fuente adaptable */
    margin: 20px auto; /* Margen superior e inferior de 20px */
    width: 80%; /* Ocupa el 80% del ancho disponible */
    height: 40px; /* Altura de 40px */
    background-color: var(--highlight-color); /* Color de fondo destacado */
    border: none; /* Sin borde */
    display: flex; /* Usa flexbox para centrar el contenido */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
  }
  /* sidebar */


  
  /* Centrado */
  .centrado__title {
    width: 100%; /* Ancho completo */
    font-size: 6vw; /* Tamaño de fuente adaptable */
    height: auto; /* Ajusta la altura automáticamente */
    text-align: center; /* Centra el texto */
  }

  .centrado {
    position: relative; /* Posición relativa para ajustar desplazamiento */
    top: 0; /* Posiciona en la parte superior */
    left: 40px; /* Desplazamiento hacia la derecha */
    height: auto; /* Ajusta la altura automáticamente */
    flex-direction: column; /* Ordena los elementos en columna */
    padding: 10px; /* Espaciado interno de 10px */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
  }

  .centrado__posicion {
    width: 100%; /* Ancho completo */
    max-width: 90%; /* Ancho máximo del 90% */
    flex-direction: column; /* Ordena en columna */
    align-items: center; /* Centra los elementos */
    text-align: center; /* Centra el texto */
  }

  .centrado__texto {
    margin-top: 15px; /* Margen superior de 15px */
    width: 100%; /* Ancho completo */
    font-size: 4.5vw; /* Tamaño de fuente adaptable */
    height: auto; /* Ajusta la altura automáticamente */
    text-align: center; /* Centra el texto */
  }

  .centrado__boton {
    font-size: 4.5vw; /* Tamaño de fuente adaptable */
    padding: 12px 20px; /* Espaciado interno */
    width: 90%; /* Ocupa el 90% del ancho disponible */
    margin-top: 10px; /* Margen superior de 10px */
  }

  .pruba {
    width: 100%; /* Ancho completo */
    height: auto; /* Ajusta la altura automáticamente */
    margin: 15px 0; /* Margen superior e inferior de 15px */
    flex-direction: column; /* Ordena los elementos en columna */
    padding: 15px; /* Espaciado interno de 15px */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
  }

  .derecha {
    padding: 10px; /* Espaciado interno de 10px */
    margin-top: 30px; /* Margen superior de 30px */
    height: auto; /* Ajusta la altura automáticamente */
    text-align: center; /* Centra el texto */
  }

  .Graphic {
    width: 90%; /* Ancho del 90% */
    margin: 0 auto; /* Centra el gráfico */
    display: block; /* Bloque gráfico */
  }
  /* Centrado */


  
  /* we */
  .we-container {
    display: flex; /* Flexbox para el diseño */
    flex-direction: column; /* Ordena en columna */
    align-items: center; /* Centra horizontalmente */
    height: auto; /* Ajusta la altura automáticamente */
    padding: 20px; /* Espaciado interno de 20px */
  }

  .we-title {
    margin-left: 0; /* Sin margen izquierdo */
    margin-top: 20px; /* Margen superior de 20px */
    font-size: 6vw; /* Tamaño de fuente adaptable */
    width: 90%; /* Ancho del 90% */
    text-align: center; /* Centra el texto */
  }

  .we-content {
    margin-left: 0; /* Sin margen izquierdo */
    width: 100%; /* Ancho completo */
    margin-top: 20px; /* Margen superior de 20px */
    text-align: center; /* Centra el texto */
  }

  .we-text {
    font-size: 4vw; /* Tamaño de fuente adaptable */
    margin: 10px auto; /* Margen superior e inferior de 10px */
    margin-right: 0; /* Sin margen derecho */
    width: 90%; /* Ancho del 90% */
  }

  .we-button {
    font-size: 4vw; /* Tamaño de fuente adaptable */
    margin: 20px auto; /* Margen superior e inferior de 20px */
    width: 80%; /* Ancho del 80% */
    height: 40px; /* Altura de 40px */
  }

  .we-image-container {
    align-self: center; /* Centra el contenedor de la imagen */
    justify-self: center; /* Centra horizontalmente dentro de su contenedor */
    margin-top: 20px; /* Margen superior de 20px */
  }

  .we-image-section {
    margin: 0; /* Sin márgenes */
  }

  .we-image {
    width: 90%; /* Ancho del 90% */
    margin-bottom: 20px; /* Margen inferior de 20px */
  }
  /* we */


  
 /* HAPPY */
.HAPPY {
  margin: 0; /* Sin margen */
  padding: 10px; /* Espaciado interno de 10px */
  height: auto; /* Ajusta la altura automáticamente */
  width: 100%; /* Ancho completo */
  box-shadow: none; /* Sin sombra */
  display: flex; /* Flexbox para el diseño */
  flex-direction: column; /* Ordena en columna */
  align-items: center; /* Centra horizontalmente */
}

.img_happy {
  width: 100%; /* Ancho completo */
  height: auto; /* Ajusta la altura automáticamente */
  margin-bottom: 20px; /* Margen inferior de 20px */
}

.Happiness_content {
  margin: 0; /* Sin margen */
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno de 10px */
}

.Happiness_content--title {
  font-size: 36px; /* Tamaño de fuente de 36px */
  width: 100%; /* Ancho completo */
  text-align: center; /* Centra el texto */
}

.Happiness_content--texto {
  font-size: 16px; /* Tamaño de fuente de 16px */
  margin: 10px 0; /* Margen superior e inferior de 10px */
  margin-right: 0; /* Sin margen derecho */
  text-align: center; /* Centra el texto */
}

.Happiness_content--boton {
  font-size: 16px; /* Tamaño de fuente de 16px */
  width: 100%; /* Ancho completo */
  height: 40px; /* Altura de 40px */
  margin: 20px 0; /* Margen superior e inferior de 20px */
}

.Graphic_Happy {
  width: 80%; /* Ancho del 80% */
  height: auto; /* Ajusta la altura automáticamente */
  margin: 20px 0; /* Margen superior e inferior de 20px */
}
/* HAPPY */


  
/* ABOUT */
.ABOUT {
  padding: 10px; /* Espaciado interno de 10px */
  gap: 15px; /* Espacio entre elementos de 15px */
}

.About_content--title {
  font-size: 24px; /* Tamaño de fuente de 24px */
  margin-top: 20px; /* Margen superior de 20px */
}

.About_content--texto {
  font-size: 14px; /* Tamaño de fuente de 14px */
  max-width: 100%; /* Ancho máximo completo */
  margin: 10px 0; /* Margen superior e inferior de 10px */
}

.img_about {
  width: 100%; /* Ancho completo */
  height: auto; /* Ajusta la altura automáticamente */
}

.About_content--boton {
  font-size: 16px; /* Tamaño de fuente de 16px */
  padding: 8px 16px; /* Espaciado interno */
}
/* ABOUT */


  
/* OUR TEAM */
.team {
  flex-direction: column; /* Ordena en columna */
  padding: 20px; /* Espaciado interno de 20px */
  height: auto; /* Ajusta la altura automáticamente */
}

.team__image {
  margin: 0; /* Sin margen */
  width: 100%; /* Ancho completo */
}

.team__image-img {
  width: 100%; /* Ancho completo */
  height: auto; /* Ajusta la altura automáticamente */
  margin: 0; /* Sin margen */
}

.team__card {
  padding: 0; /* Sin espaciado interno */
  width: 100%; /* Ancho completo */
}

.team__content {
  text-align: center; /* Centra el texto */
  margin: 0; /* Sin margen */
}

.team__title {
  font-size: 30px; /* Tamaño de fuente de 30px */
  margin-bottom: 15px; /* Margen inferior de 15px */
}

.team__text {
  font-size: 16px; /* Tamaño de fuente de 16px */
  margin: 10px 0; /* Margen superior e inferior de 10px */
}

.team__button {
  font-size: 16px; /* Tamaño de fuente de 16px */
  padding: 8px 16px; /* Espaciado interno */
}
/* OUR TEAM */


  
/* TRY OUR */
.TRY {
  flex-direction: column; /* Ordena en columna */
  padding: 20px; /* Espaciado interno de 20px */
  align-items: center; /* Centra los elementos horizontalmente */
}

.Try__card {
  max-width: 100%; /* Ancho máximo completo */
  padding-right: 0; /* Sin espaciado a la derecha */
  margin: 0; /* Sin margen */
  text-align: center; /* Centra el texto */
}

.Try__title {
  font-size: 30px; /* Tamaño de fuente de 30px */
  margin-bottom: 15px; /* Margen inferior de 15px */
}

.Try__text {
  font-size: 16px; /* Tamaño de fuente de 16px */
  margin-bottom: 15px; /* Margen inferior de 15px */
}

.Try__button {
  font-size: 16px; /* Tamaño de fuente de 16px */
  padding: 8px 16px; /* Espaciado interno */
}

.Try__image img {
  width: 100%; /* Ancho completo */
  height: auto; /* Ajusta la altura automáticamente */
  margin-right: 0; /* Sin margen derecho */
  margin-top: 20px; /* Margen superior de 20px */
}
/* TRY OUR */


  
/* Formulario - Subcribete */
.formulario__nombres-contenedor {
  flex-direction: column; /* Ordena en columna */
  gap: 10px; /* Espacio entre elementos de 10px */
}

.formulario-contenedor {
  flex-direction: column; /* Ordena en columna */
  width: 100%; /* Ancho completo */
  height: auto; /* Ajusta la altura automáticamente */
  padding: 20px; /* Espaciado interno de 20px */
  gap: 15px; /* Espacio entre elementos de 15px */
}

.formulario-name {
  width: 100%; /* Ancho completo */
}

.formulario {
  width: 100%; /* Ancho completo */
  padding: 20px 10px; /* Espaciado interno */
  gap: 15px; /* Espacio entre elementos de 15px */
}

.formulario__mensaje {
  width: 100%; /* Ancho completo */
  height: auto; /* Ajusta la altura automáticamente */
}

.subcribete {
  width: 100%; /* Ancho completo */
  padding: 0; /* Sin espaciado interno */
}

.subcribete__content {
  width: 100%; /* Ancho completo */
  padding: 20px; /* Espaciado interno de 20px */
  gap: 15px; /* Espacio entre elementos de 15px */
}

.subcribete__title {
  font-size: 30px; /* Tamaño de fuente de 30px */
  margin-top: 0; /* Sin margen superior */
}

.subcribete__text {
  font-size: 16px; /* Tamaño de fuente de 16px */
  margin-top: 0; /* Sin margen superior */
}

.subcribete__buton {
  font-size: 16px; /* Tamaño de fuente de 16px */
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno de 10px */
  margin-top: 15px; /* Margen superior de 15px */
}
/* Formulario - Subcribete */


  
/* CONTACT */
.contact-section {
  padding: 20px; /* Espaciado interno de 20px */
}

.contact-title {
  font-size: 30px; /* Tamaño de fuente de 30px */
}

.contact-description {
  font-size: 16px; /* Tamaño de fuente de 16px */
  margin: 10px 0 15px; /* Margen superior de 10px y margen inferior de 15px */
}

.contact-map {
  flex-direction: column; /* Ordena en columna */
  margin: 15px 0; /* Margen superior e inferior de 15px */
}

.contact-map img {
  width: 100%; /* Ancho completo */
  height: auto; /* Ajusta la altura automáticamente */
}

.contact-button {
  font-size: 16px; /* Tamaño de fuente de 16px */
  padding: 8px 16px; /* Espaciado interno */
}
/* CONTACT */
}
